html, body{
  height: 100%;
}
#root{
  height: 100%;
}
.navbar {
  position: absolute;
  width: 100%; 
  top: 0;
  z-index: 1;  
}

.heading h1{
  font-size: 6rem;
  font-weight: bold;
}

ul.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}
.navMidSec{border: 1px solid #dee2e6; border-radius: 40px;}

.mt-5.d-flex {
  margin-top: 2rem !important; 
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 0 10px;
}

.background-image {
  background-image: url('../public/Images/Group.png'); 
  background-size: cover;
  background-position: center;
  width: 42%;
}

.getstart-btn button{
  padding: 6px 15px 6px 15px;
  border-radius: 12px;
  background: linear-gradient(270.24deg, #CEBCA5 -34.7%, #FF2674 99.79%);
  border: none;
}
/* 
.connect-btn{
  padding: 6px 15px 6px 15px;
  border-radius: 20px;
  background: radial-gradient(114.61% 114.61% at 50% 0%, #35343D 0%, #454548 100%);
  border: none;
} */

.circle-img{
  width: 45px;
  min-width: 45px;
  height: 45px;
}

.gt-btn button{
  background: linear-gradient(270.24deg, #CEBCA5 -34.7%, #FF2674 99.79%);
  border: none;
  padding: 3px 15px 3px 15px;
  border-radius: 12px;
}

.backsideImage {
  background-image: url('../public/Images/background-image.png');
  background-size: cover;    
  background-position: center; 
  height: 100vh; 
  position: relative; 
  background-color: #1b1b1b;
  overflow: hidden;
}

.form-label {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-control {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.deposit-btn button{
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg, #50CA63 0%, #42AD52 100%);
  border: none;
}

.withdraw-btn button{
  width: 100%;
  height: 40px;
  background: linear-gradient(180deg, #FF1B1B 0%, #F74141 45.93%, #FF0000 100%);
  border: none;
}

.lusend {
  width: 30px;
  height: 30px;
}

.mines-box{
  background: radial-gradient(30.7% 30.7% at 50% 50%, #382C36 0%, #292128 100%);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  padding: 10px; 
}

.custom-placeholder{
  background-color: #251A23 !important;
}

.custom-placeholder::placeholder {
  font-size: 10px;
  color: rgb(134, 127, 133) !important;
}

.start-game-btn button{
  background: linear-gradient(270.24deg, #CEBCA5 -34.7%, #FF2674 99.79%);
  border: none;
  color: #fff;
  padding: 5px 70px 5px 70px;
  border-radius: 5px;
}

.box-game{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  background: radial-gradient(50% 50% at 50% 50%, #685D61 0%, #55484C 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px; 
}

.mine-button{
  background: #65A30D;
  /* padding: 2px 35px 2px 35px; */
}

.mine-button-2{
  background: #DC2626;
  /* padding: 2px 35px 2px 35px; */
}

.mine-3 button{
  padding: 2px 35px 2px 35px;
  background-color: #787678;
}

.swap-box{
  padding: 200px 70px 200px 70px;
}
.rightSection{width: 85%; display: flex; align-items: center; justify-content: space-between;}
.nwBox{
  width: 450px;
  height: 450px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.balncBx{
  border: 1px solid #ccc;
  color: #e7b00e;
  font-size: 14px;
}
.popup-box {
  position: absolute;
  top: 100%;
  left: 0px;
  top: 0;
  z-index: 1000;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-box-inner{
  width: 320px;
  height: auto;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  border: 1px solid #ccc;
  padding: 20px 30px;
  border-radius: 20px;
  background: #0000009c;
} 
.footerFixed{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
/* Add responsiveness for smaller screens */
@media (max-width: 991px){
  .navMidSec{border: none;}
  .leftSection{width: 100%;}
  .rightSection{
    position: absolute;
    width: 100%;
    top: 74px;
    left: 0;
    border-radius: 19px;
    background: #000;
    box-shadow: 0px 0px 9px #ffffff3d;
    display: block;
  }
  .m-md{margin: 0 !important;}
}
@media (max-width: 768px) {
  .heading h1 {
    font-size: 3rem; 
  }

  .navbar-nav {
    flex-direction: column; 
  }
  .background-image {
    width: 43%;
  }

  .navbar-collapse ul{
    border: none !important;
    gap: 10px !important;
  }

}
@media (max-width: 550px) {
  .nwBox{
    width: 100%; 
    height: 100%; 
  }
  .box-game{
    width: 30px;
    height: 30px;
  }
  .mines-box{
    gap: 3px;
    padding: 5px;
  }
}
@media (max-width: 425px) {
  .background-image {
    width: 80% !important;
  }
  .navbar-collapse ul{
    border: none !important;
    gap: 10px !important;
  }
.swap-box{
  padding: 40px 20px 40px 20px !important;
}
.popup-box-inner{width: 100%;}
}